/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fuente */
@font-face {
  font-family: "Raleway", sans-serif;
}
header {
  background-color: #8B307E;
}
header .logo {
  display: none;
}
header #btn_menu {
  display: none;
}
header label {
  display: none;
}
header .menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 15px 20px;
  align-items: center;
  margin-bottom: 0px;
}
header .menu ul li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #6782BB;
  font-size: 20px;
}
header .menu ul li a .logo-hidden {
  width: 100px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b307e;
}

.main-index .contenedor .bienvenida {
  background-image: url(../assets/img/imagenprincipal.jpg);
  background-size: cover;
  height: 47vw;
  align-items: center;
  background-position: center bottom 33%;
}
.main-index .contenedor .bienvenida h1 {
  margin-top: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 8rem;
  text-align: center;
  color: #6782BB;
  text-shadow: 3px 2px 2px black;
}
.main-index .cards1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: top;
  justify-items: center;
  grid-gap: 0 !important;
}
.main-index .cards1 .cardo {
  border-radius: 0px;
  width: 100%;
  grid-gap: 0 !important;
  height: 100%;
}
.main-index .cards1 .cardo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-gap: 0 !important;
}

/* html botellas */
.main-botellas .container .row .col-md-4 .card {
  border: solid 2px #6782bb;
  border-radius: 5px;
}
.main-botellas .container .row .col-md-4 .card .tituloCard {
  font-family: "Raleway", sans-serif;
  color: #6782BB;
  text-align: center;
  margin-top: 10px;
}
.main-botellas .container .row .col-md-4 .card .textoCard {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 10px;
}
.main-botellas .container .row .col-md-4 .card .botoncolor {
  background-color: #8B307E;
  color: #6782BB;
}

/* html contactos */
.hablemos {
  font-family: "Raleway", sans-serif;
  color: #6782BB;
  text-align: center;
  background-color: #8B307E;
  margin-bottom: 0px;
}
.hablemos h1 {
  margin-bottom: 0;
}

.cajas {
  height: 44.4vw;
  background-image: url(../assets/img/fondoContactanos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cajas div {
  display: grid;
  justify-content: center;
  justify-items: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "caja1 caja2" "caja3 caja3" "caja4 caja4";
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #6782BB;
  padding-top: 5px;
}

.caja1 {
  grid-area: caja1;
}
.caja1 label {
  text-align: center;
}

.caja2 {
  text-align: center;
  grid-area: caja2;
  padding-right: 10%;
}

.caja3 {
  grid-area: caja3;
  padding-right: 33%;
  margin-top: 30px;
}
.caja3 label {
  text-align: right;
  padding-right: 30px;
}

.caja4 {
  margin-top: 30px;
  grid-area: caja4;
  padding-right: 33%;
}
.caja4 label {
  text-align: right;
  padding-right: 30px;
  margin-bottom: 30px;
}

/* html floreros */
.floreros {
  height: 44.4vw;
}

/* html mayoristas */
.fondomayoristas {
  background-image: url(../assets/img/fondomayoristas2.jpg);
  background-size: cover;
  background-position: center;
  height: 75vw;
}
.fondomayoristas .Cajasmayoristas {
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: center;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.7);
}
.fondomayoristas .Cajasmayoristas .leyendaMayorista {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fondomayoristas .Cajasmayoristas label {
  margin-top: 20px;
  display: block;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
}
.fondomayoristas .Cajasmayoristas input {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  color: black;
  background-color: white;
}
.fondomayoristas .Cajasmayoristas input[type=button] {
  margin: 10px 20px 10px 30px;
  display: inline-block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: black;
}

/* Media queries  */
/* Queries index*/
@media screen and (max-width: 1024px) {
  .main-index .contenedor .bienvenida h1 {
    font-family: "Raleway", sans-serif;
    font-size: 6rem;
    text-align: center;
    color: #6782BB;
    text-shadow: 3px 2px 2px black;
    padding: 0;
    margin-top: 50px;
  }
  .main-index .contenedor .bienvenida img {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  /*Queries contacto*/
  .cajas {
    height: 90vw;
  }
  .cajas div {
    font-size: 15px;
  }
  .caja3 label {
    padding-right: 2px;
  }
  .caja4 label {
    padding-right: 2px;
  }
  .fondomayoristas {
    background-image: url(../assets/img/fondomayoristas2.jpg);
    background-size: cover;
    background-position: center;
    height: 110vw;
  }
  .fondomayoristas .Cajasmayoristas {
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.7);
  }
  .fondomayoristas .Cajasmayoristas .leyendaMayorista {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .fondomayoristas .Cajasmayoristas label {
    margin-top: 20px;
    display: block;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    font-size: 21px;
  }
  .fondomayoristas .Cajasmayoristas input {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: black;
    background-color: white;
  }
  .fondomayoristas .Cajasmayoristas input[type=button] {
    margin: 10px 20px 10px 30px;
    display: inline-block;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: black;
  }
}
/*Queries para mobile*/
@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo {
    display: block;
    width: 100px;
    margin-left: 25px;
  }
  header #btn_menu:checked ~ .menu {
    visibility: visible;
  }
  header label {
    display: block;
    position: relative;
    right: 25px;
  }
  header label img {
    width: 50px;
  }
  header .menu {
    position: absolute;
    top: 93px;
    background-color: #8B307E;
    width: 100vw;
    visibility: hidden;
    z-index: 1;
  }
  header .menu ul {
    flex-direction: column;
  }
  header .menu ul li a .logo-hidden {
    display: none;
  }
  /* titulos pagina principal de bienvenida y LOGO en mobile*/
  .main-index .contenedor .bienvenida {
    background-image: url(../assets/img/botellas.png);
    background-size: cover;
    height: 47vw;
    align-items: center;
  }
  .main-index .contenedor .bienvenida h1 {
    margin-top: 20px;
    font-size: 12vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  .main-index .cards1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-index .cards1 div {
    width: 100%;
  }
  .main-index .cards1 div img {
    width: 100%;
  }
  .main-index .cards1 div .cards1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-index .cards1 div .cards1 div {
    width: 100%;
  }
  .main-index .cards1 div .cards1 div img {
    width: 100%;
  }
  /* Cajas de contactos en mobile ------------------------------------- */
  .cajas {
    height: 110vw;
  }
  .cajas div {
    display: grid;
    justify-items: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "caja1" "caja2" "caja3" "caja4";
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #6782BB;
    padding-top: 5px;
  }
  .caja1 {
    padding: 10px;
    margin: 0;
    align-items: center;
    grid-area: caja1;
  }
  .caja2 {
    padding: 10px;
    margin: 0;
    grid-area: caja2;
  }
  .caja3 {
    padding: 10px;
    margin: 0px;
    grid-area: caja3;
  }
  .caja3 input {
    text-align: center;
    margin: 0px;
    padding: 0;
    margin: 0;
  }
  .caja3 label {
    text-align: center;
    align-items: center;
    padding-right: 0;
  }
  .caja4 {
    padding: 10px;
    margin: 0px;
    grid-area: caja4;
  }
  .caja4 label {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .fondomayoristas {
    background-image: url(../assets/img/fondomayoristas2.jpg);
    background-size: cover;
    background-position: center;
    height: 160vw;
  }
  .fondomayoristas .Cajasmayoristas {
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.7);
  }
  .fondomayoristas .Cajasmayoristas .leyendaMayorista {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .fondomayoristas .Cajasmayoristas label {
    margin-top: 20px;
    display: block;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    font-size: 21px;
  }
  .fondomayoristas .Cajasmayoristas input {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: black;
    background-color: white;
  }
  .fondomayoristas .Cajasmayoristas input[type=button] {
    margin: 10px 20px 10px 30px;
    display: inline-block;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: black;
  }
}

/*# sourceMappingURL=main.css.map */
