 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* fuente */
/* @font-face {
    font-family: 'Raleway', sans-serif;
} */

/* navegacion principal -------------------------------------------------------------------------------------*/
/* header{
    background-color: #8B307E;
}

header .logo {
    display: none;
}

header #btn_menu{
    display: none;
}

header label{
    display: none;
} */

/* header nav img{
    width: 100px;
}

header nav ul{
    display: flex;
    list-style-type: none; 
    justify-content: space-evenly;
    padding: 15px 20px;
    align-items: center;
    margin-bottom: 0px;
}

header nav ul li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #6782BB;
    font-size: 20px;
} */



/* titulos pagina principal de bienvenida y LOGO
.bienvenida {
    background-image: url(../assets/img/botellas.png);
    background-size: cover;
    height: 47vw;
    align-items: center;
}

.bienvenida h1{
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    text-align: center;
    color: #6782BB;
    text-shadow: 3px 2px 2px black; 
} */


/* cards del index */

/* .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: top;
    justify-items: center;
    grid-gap: 0!important;
}
.cardo{
    border-radius: 0px;
    width: 100%;
    grid-gap: 0!important;
    height: 100%;
}

.cardo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-gap: 0!important;
} */


/*  Footer  -------------------------------------------------------------- */
/* .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8B307E;
} */
/* HTML botellas--------------------------------------------------------------------*/

/* .botoncolor {
    background-color: #8B307E;
    color: #6782BB;
}
.card{
    border: solid 2px #6782bb;
    border-radius: 5px;
}
.tituloCard{
    font-family: 'Raleway', sans-serif;
    color: #6782BB;
    text-align: center;
    margin-top: 10px;
}
.textoCard{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 10px;
} */


/* HTML Mayoristas ingresos---------------------------------------------------*/

/* .Cajasmayoristas {
    font-family: 'Raleway', sans-serif;
    color: #6782BB;
    text-align: center;
    margin-top: 10px;
}

.Cajasmayoristas label {
    margin-top: 20px;
    display: block; 
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

.Cajasmayoristas input {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: black;
    
}

.Cajasmayoristas input[type="button"]{
    margin: 10px 20px 10px 30px;
    display: inline-block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
} */

/* HTML FRASCOS -----------------------------------------------------------------------
.clasesdefrascos {
    background-color:#BADCCB;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.productofrascos {
    text-align: center;
    text-decoration: none;
    color: #0d1a13;
    font-weight: 900;
    margin: 0px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.productofrascos a {
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    color: #0d1a13;
    font-size: 20px;
}

.productofrascos img {
    height: 300px;
    width: 200px;
    margin: 50px;
    border-radius: 30px;
} */

/* HTML FLOREROS -----------------------------------------------------------------------*/
/* .clasesdefloreros {
    background-color:#BADCCB;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.productofloreros {
    text-align: center;
    text-decoration: none;
    color: #0d1a13;
    font-weight: 900;
    margin: 0px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.productofloreros a {
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    color: #0d1a13;
    font-size: 20px;
}

.productofloreros img {
    height: 300px;
    width: 200px;
    margin: 50px;
    border-radius: 30px;
} */

/*HTML CONTACTO---------------------------------------------------------------------------------*/

/* .hablemos {
    font-family: 'Raleway', sans-serif;
    color: #6782BB;
    text-align: center;
    background-color: #8B307E;
    margin-bottom: 0px;
}
.hablemos h1{
    margin-bottom: 0;
} */


/* .cajas{
    height: 40vw;
    background-image: url(../assets/img/fondoContactanos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cajas div{
    display: grid;
    justify-content: center;
    justify-items: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "caja1 caja2" "caja3 caja3" "caja4 caja4";
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #6782BB;
    padding-top: 5px;
} */

/* .caja1 {
    grid-area: caja1;
}
.caja1 label{
    text-align: center;
} */
/* .caja2 {
    text-align: center;
    grid-area: caja2;
    padding-right: 10%;
}

.caja3 {
    grid-area: caja3;
    padding-right: 33%;
    margin-top: 30px;
} */
/* .caja3 label{
    text-align: right;
    padding-right: 30px;
} */
/* .caja4 {
    margin-top: 30px;
    grid-area: caja4;
    padding-right: 33%;
}
.caja4 label{
    text-align: right;
    padding-right: 30px;
    margin-bottom: 30px;
} */
/* Media query para tablet  */

/* @media screen and (max-width: 1024px){
    .bienvenida h1{
        font-family: 'Raleway', sans-serif;
        font-size: 6rem;
        text-align: center;
        color: #6782BB;
        text-shadow: 3px 2px 2px black; 
    }
    
    .bienvenida img{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
}
.cajas{
    height: 80vw;
}
    .cajas div{
        font-size: 15px;
    }

    .caja4 label{
        padding-right: 2px;
    }

    .caja3 label{
        padding-right: 2px;
    }
} */
/* Media query para mobile */

/* @media screen and (max-width: 768px){ */
    /* header */

    /* header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */

    /* header label{
        display: block;
        position: relative;
        right: 25px;
    }

    header .logo{
        display: block;
        width: 100px;
        margin-left: 25px;
    }

    header nav ul{
        flex-direction: column;
    }

    header label img{
        width: 50px;
    }

    .logo-hidden{
        display: none;
    }

    .menu{
        position: absolute;
        top: 93px;
        background-color: #8B307E;
        width: 100vw;
        visibility: hidden;
        z-index: 1;
    }

    #btn_menu:checked ~ .menu{
        visibility: visible;
    }

/* titulos pagina principal de bienvenida y LOGO en mobile*/
/* .bienvenida {
    background-image: url(../assets/img/botellas.png);
    background-size: cover;
    height: 5vw;
    align-items: center;
}

.bienvenida h1{
    font-size: 10px;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
} */

/* cards del index en mobile -----------------------------------*/

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: top;
    justify-items: center;
    grid-gap: 0!important;
}
.card{
    border-radius: 0px;
    width: 100%;
    grid-gap: 0!important;
    height: 100%;
}

.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-gap: 0!important;
}

/* Cajas de contactos en mobile  */
.cajas{
    height:110vw;
}

.cajas div{
    display: grid;
    justify-items: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "caja1" "caja2" "caja3" "caja4";
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #6782BB;
    padding-top: 5px;
}

.caja1{
    padding: 10px;
    margin: 0;
    align-items: center;
    grid-area: caja1;
}
.caja2{
    padding: 10px;
    margin: 0;
    grid-area: caja2;
}
.caja3{
    padding: 10px;
    margin: 0px;
    grid-area: caja3;
}
.caja3 input{
    text-align: center;
    margin: 0px;
    padding: 0;
    margin: 0;
}
.caja3 label{
    text-align: center;
    align-items: center;
    padding-right: 0;

}
.caja4{
    padding: 10px;
    margin: 0px;
    grid-area: caja4;
}
.caja4 label{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
