// html contactos
/* html contactos */

.hablemos{
    font-family: 'Raleway', sans-serif;
    color: #6782BB;
    text-align: center;
    background-color: #8B307E;
    margin-bottom: 0px;
    h1{
        margin-bottom: 0;    
    }
}

.cajas{
    height: 40vw;
    background-image: url(../assets/img/fondoContactanos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vw;
    div{
        display: grid;
        justify-content: center;
        justify-items: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "caja1 caja2" "caja3 caja3" "caja4 caja4";
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        color: #6782BB;
        padding-top: 5px;
    }
}

.caja1{
    grid-area: caja1;
    label{
        text-align: center;
    }
}

.caja2{
    text-align: center;
    grid-area: caja2;
    padding-right: 10%;
}

.caja3{
    grid-area: caja3;
    padding-right: 33%;
    margin-top: 30px;
    label{
        text-align: right;
        padding-right: 30px;
    }
}

.caja4{
    margin-top: 30px;
    grid-area: caja4;
    padding-right: 33%;
    label{
        text-align: right;
        padding-right: 30px;
        margin-bottom: 30px;
    }
}