// Media Queries 
/* Media queries  */


/* Queries index*/
@media screen and (max-width: 1024px){
    .main-index{
        .contenedor{
            .bienvenida{
                h1{
                    font-family: 'Raleway', sans-serif;
                    font-size: 6rem;
                    text-align: center;
                    color: #6782BB;
                    text-shadow: 3px 2px 2px black; 
                    padding: 0;
                    margin-top: 50px;
                }
                img{
                    width: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }
    }

/*Queries contacto*/


.cajas{
    height: 80vw;
    div{
        font-size: 15px;
    }
}

.caja3{
    label{
        padding-right: 2px;
    }
}

.caja4{
    label{
        padding-right: 2px;
    }
}
}
/*Queries para mobile*/

@media screen and (max-width: 768px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
            .logo{
                display: block;
                width: 100px;
                margin-left: 25px;
            }
        #btn_menu:checked ~ .menu{
            visibility: visible;
        } 
        label{
            display: block;
            position: relative;
            right: 25px;
            img{
                width: 50px;
            }
        } 
        .menu{
            position: absolute;
            top: 93px;
            background-color: #8B307E;
            width: 100vw;
            visibility: hidden;
            z-index: 1;
            ul{
                flex-direction: column;
                li {
                    a {
                        .logo-hidden {
                            display: none;
                        }
                    }
                }
            }
        } 
    }
    /* titulos pagina principal de bienvenida y LOGO en mobile*/
    .main-index{    
        .contenedor{
            .bienvenida{
            background-image: url(../assets/img/botellas.png);
            background-size: cover;
            height: 47vw;
            align-items: center;
                h1{
                margin-top: 20px;
                font-size: 12vw;
                justify-self: center;
                justify-content: center;
                align-items: center;
                }
            }
        }
        .cards1{
            grid-template-columns: repeat(1, 1fr);
            div {
                width: 100%;
                img {
                    width: 100%;
                }
                .cards1{
                    grid-template-columns: repeat(1, 1fr);
                    div {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    /* cards del index en mobile -----------------------------------*/
    /* Cajas de contactos en mobile ------------------------------------- */
    .cajas{
        height:110vw;
            div{
                display: grid;
                justify-items: auto;
                grid-template-columns: 1fr;
                grid-template-areas: "caja1" "caja2" "caja3" "caja4";
                font-size: 16px;
                font-family: 'Raleway', sans-serif;
                color: #6782BB;
                padding-top: 5px;
        }
    }
    .caja1{
        padding: 10px;
        margin: 0;
        align-items: center;
        grid-area: caja1;
    }
    .caja2{
        padding: 10px;
        margin: 0;
        grid-area: caja2;
    }
    .caja3{
        padding: 10px;
        margin: 0px;
        grid-area: caja3;
        input{
            text-align: center;
            margin: 0px;
            padding: 0;
            margin: 0;
        }
        label{
            text-align: center;
            align-items: center;
            padding-right: 0;
        }   
    }
    .caja4{
        padding: 10px;
        margin: 0px;
        grid-area: caja4;
        label{
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
        }
    }
}
